body{
  width: 100%;
  height: 100vh;
  margin: 0%;
}

#app{
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
  "header header"
  "sidenav content"
  "sidenav footer";
}

#header , #footer , #sidenav , #content{
  border: 1px solid black;
}

#header{
  grid-area: header;
}

#content{
  grid-area: content;
}

#sidenav{
  grid-area: sidenav;
}

#footer{
  grid-area: footer;
}

